**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/logs
frontend/
database/
*.md
.dockerignore
Dockerfile
docker-compose.*
**/.DS_Store
**/node_modules
